body{
  text-align: center;
  background-color: rgb(0, 0, 0);
}

h1 {
  color: brown;
}
h2 {
  color: green;
}
h3 {
  color: blue;
}
span {
  color: green;
}
.startBtn {
    padding: 10px 20px;
    font-size: 18px;
    margin: 20px;
    cursor: pointer;
    border-radius: 15px;
    font-weight: 600;
    background-color: rgb(0, 227, 227);
}

.btn {
  height: 200px;
  width: 200px;
  border-radius: 20%;
  border: 10px solid rgb(0, 0, 0);
  margin: 2.5rem;
  background-color: #4CAF50; /* example background */
  color: white;
  transition: background-color 0.2s ease, opacity 0.2s ease; /* smooth transition */
  cursor: pointer;
}

/* Fade effect on click */
.btn:active {
  opacity: 0.7; /* slightly faded */
}

.btn-container {
  display: flex;
  justify-content: center;
}

.yellow {
  background-color: #f99b45;
}
.red {
  background-color: #d95980;
}
.green {
  background-color: #63aac0;
}
.purple {
  background-color: #819ff9;
}

.flash {
  background-color: white;
}